<!DOCTYPE html>
<html style="overflow-x: hidden">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="imagenes/braseiro/logobraseiroins.jpg" sizes="32x32">
    <title>Braseiro</title>

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="css/rey.css">
    <link rel="stylesheet" type="text/css" href="css/toaster.min.css">
    <link rel="stylesheet" href="css/mediarey.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!--Let browser know website is optimized for mobile-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body style="overflow-x: hidden;">
        <!-- menu side -->
            <div>
                <ul id="slide-out" class="sidenav navtamresp">
                  <li><div class="user-view" style="z-index:0">
                    <!-- fondo del menu -->
                      <div class="background">
                        <img src="imagenes/braseiro/bannermenu.jpg" class="responsive-img"">
                      <a  class="sidenav-close botoncerrarmenu" id="button-collapse"><i class="fas fa-arrow-left sidenav-close flechacerrarmenu" ></i></a>  
                      
                      </div>
                    <!-- fondo del menu -->
                      <!-- logo del menu -->
                      <img class="circle logoside" src="imagenes/braseiro/logobraseiroins.jpg">
                      <!-- logo del menu -->
                      <a href="#!name"><span class="white-text name">Braseiro Steak House</span></a>
                      <a href="#!email"><span class="white-text email">&nbsp</span></a>
                    </div></li>

                     <li><a href="#!"><i class="fas fa-phone"></i>04126517323</a></li>
                    <li><a href="#!">Second Link</a></li>
                    <li><div class="divider"></div></li>
                
                  

                    <li><a class="subheader">Menu</a></li>
                    <li><a class="waves-effect" href="index.html">Inicio</a></li>
                    <li><a class="waves-effect" href="#galeria">Galeria</a></li>
                    <li><a class="waves-effect" href="#maps">Encuentranos</a></li>
                  </ul>
                 
                  
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars menuscrollnav"></i></a>
            </div>
         <!-- /menu side -->
            <!-- navbartop statico -->
            <nav class="navtam">
              <div class="telf"> <h5 class="telefononum">Llamar: <span>0101010101010</span> </h5> </div>
              <!-- <div class="nav-wrapper">
                
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="">sass</a></li>
                  <li><a href="">sass <span class="new badge">4</span></a></li>
                  <li><a href="">sass</a></li>
                
                </ul>
              </div> -->
             <div class="col s12">
               <div class="col s1">
          
                                      <!-- "58=codigo de pais" -> "424=codigo de telefonia" -> "numero de telefo"  -->
                <a href="https://wa.me/584246375410?text=Hola%20estoy%20visitando%20tu%20pagina%20web" target="_blank"> <img src="imagenes/braseiro/whatsapp.png" class="whatsicon" alt=""> </a>  
              </div>
             </div>
            </nav>
           <!-- /navbartop statico -->
       
           <!-- navbartop dinamico -->
            <nav id="navrey" class="navtam">
              <div class="telf"> <h5 class="telefononum">Llamar: <span>0101010101010</span> </h5> </div>
              <!-- <div class="nav-wrapper">
                
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="">sass</a></li>
                  <li><a href="">sass <span class="new badge">4</span></a></li>
                  <li><a href="">sass</a></li>
                
                </ul>
              </div> -->
             <div class="col s12">
               <div class="col s1">
          
                                      <!-- "58=codigo de pais" -> "424=codigo de telefonia" -> "numero de telefo"  -->
                <a href="https://wa.me/584246375410?text=Hola%20estoy%20visitando%20tu%20pagina%20web" target="_blank"> <img src="imagenes/braseiro/whatsapp.png" class="whatsicon" alt=""> </a>  
              </div>
             </div>
            </nav>
            <!-- /navbartop dinamico -->
         

            <div style="position:relative">
               
              </div>
             <div class="col s12 bannerlogo">
              <a href="" class="brand-logo logoub"> <img src="imagenes/braseiro/logobraseiroins.jpg" class="logotam" alt=""> </a>
             </div> 
            
             <div class="col s12">
            
             </div>


             <!-- pruebas -->
            
             <!-- /pruebas -->

        <!-- <section class="padseccuadro">
          <div class="col s12">
              <div class="container centercuadro">
                <div class="row sombrarow">
            <div class="col s3"><a href=""></a><i class="fab fa-instagram waves-effect cuadrosred"></i></a></div>
            <div class="col s3"><a href="#acerca"></a><i class="fas fa-info waves-effect cuadrosred"></i></a></div>
          <div class="col s3"><a href="#galeria"></a><i class="fas fa-camera waves-effect cuadrosred"></i></a></div>    <div class="col s3"><a href="#maps"></a><i class="material-icons waves-effect cuadrosred">place</i></a></div>
                </div>
              </div>
            </div>
      </section> -->
    <!-- menu  -->
      <section class="padseccuadro row bordeprime" style="padding-top:0;margin-bottom:0">
          <div class="col s12">
                <div class="row center" style="margin-bottom:0">
                  <div class="box-icon ">
                      <a href="#acerca"><i class="fas fa-info waves-effect cuadrosred"></i></a><span class="spanraya"></span>
                      <a href="#galeria"><i class="fas fa-camera waves-effect cuadrosred"></i></a><span class="spanraya"></span>
                      <a href="#maps"><i class="material-icons waves-effect cuadrosred">place</i></a><span class="spanraya"></span>
                      <a href="#instagramapi"><i class="fab fa-instagram waves-effect cuadrosred"></i></a>
                  </div>
                </div>
            </div>
      </section>
      <!-- menu -->
             





<div class="row">
  <ul class="collapsible margincollapzero">
                
    <li class="col l9 col s12">
      <div class="collapsible-header">
        
        Familia Braseiro
        <span class="badge"></span></div>
      <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li class="col l9 col s12">
        <div class="collapsible-header">
          
          Nuestro Menú
          <span class="badge"></span></div>
        <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li class="col l9 col s12">
          <div class="collapsible-header">
            
            Horario
            <span class="badge"></span></div>
          <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
  </ul>
</div>
          
            
          

  <!-- Modal Structure -->
 <!-- para la imagen 1 -->
  <div id="modal1" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria1.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
 <!-- /para la imagen 1 -->

  <!-- para la imagen 2 -->
  <div id="modal2" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria14.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 2 -->

   <!-- para la imagen 3 -->
  <div id="modal3" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria15.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 3 -->

   <!-- para la imagen 4 -->
  <div id="modal4" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria3.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 4 -->

   <!-- para la imagen 5 -->
  <div id="modal5" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria4.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 5 -->
    <!-- para la imagen 6 -->
  <div id="modal6" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria5.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 6 -->
    <!-- para la imagen 7 -->
  <div id="modal7" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria6.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 7 -->
    <!-- para la imagen 8 -->
  <div id="modal8" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria7.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 8 -->
    <!-- para la imagen 9 -->
  <div id="modal9" class="modal modalheight">
    <div class="modal-content" style="text-align:center">
      <i class="far fa-times-circle cerrarboton modal-close waves-effect"></i>
      <img src="imagenes/braseiro/galeria8.JPG" class="responsive-img modalimggale" alt="">
    </div>
  </div>
   <!--/ para la imagen 9 -->
 

   <!-- galeria -->
   <section class="paddingsect" id="galeria">
    <div class="container-fluid">
       <div class="row ">
         <div class="owl-carrousel" id="owl-demo">
             <div class="col s12 item-owl">
             <a class="modal-trigger" href="#modal1"><img src="imagenes/braseiro/galeria1.JPG" class="responsive-img imgcarrusel" alt=""></a>  
               </div>

           

               <div class="col s12  item-owl">
                <a class="modal-trigger" href="#modal2"><img src="imagenes/braseiro/galeria14.JPG" class="responsive-img imgcarrusel" alt=""></a>   
                 </div>
               <div class="col s12  item-owl">
                <a class="modal-trigger" href="#modal3"><img src="imagenes/braseiro/galeria15.JPG" class="responsive-img imgcarrusel" alt=""></a>
                 </div>
                 <div class="col s12  item-owl">
                  <a class="modal-trigger" href="#modal4"><img src="imagenes/braseiro/galeria3.JPG" class="responsive-img imgcarrusel" alt=""></a>
                   </div>
               <div class="col s12  item-owl">
                <a class="modal-trigger" href="#modal5"><img src="imagenes/braseiro/galeria4.JPG" class="responsive-img imgcarrusel" alt=""></a>
                 </div>
                 <div class="col s12  item-owl">
                  <a class="modal-trigger" href="#modal6"><img src="imagenes/braseiro/galeria5.JPG" class="responsive-img imgcarrusel" alt=""></a>
                   </div>
                 <div class="col s12  item-owl">
                  <a class="modal-trigger" href="#modal7"><img src="imagenes/braseiro/galeria6.JPG" class="responsive-img imgcarrusel" alt=""></a>
                   </div>
                   <div class="col s12 item-owl">
                    <a class="modal-trigger" href="#modal8"><img src="imagenes/braseiro/galeria7.JPG" class="responsive-img imgcarrusel" alt=""></a>
                     </div>
                   <div class="col s12 item-owl">
                    <a class="modal-trigger" href="#modal9"><img src="imagenes/braseiro/galeria8.JPG" class="responsive-img imgcarrusel" alt=""></a>
               </div>

         </div>
       </div>
    </div>
  </section>
    <!-- /galeria -->
  <!--  -->
  <section class="padseccuadro paddingcorre ">
      <div  ng-app="furniture">
    <div class="parallax paddingcorre" ng-controller="mail"  ng-submit="SubmitEmail()" >
      
        <div class="opacidadneg row">
          <div class="col s12 centerform">
              <div class="row center">
              		<form name="emailform">
                <div class="input-field col s10 inputsusb colorinputlett contact-forms">
                
                    <input type="email" ng-model="email.mail" required class="form-control white-text" id="email">
                  <label ng-model="email.mail" required class="form-control" id="email" for="icon_prefix">Ingresa tu correo</label>
                </div>
                 
              </div>
              <div style="position:relative">
                  <button class="btn waves-effect sent-butnn waves-light btnsend" ng-disabled="emailform.$invalid" type="submit" value="SUBMIT">
                     
                      <i ></i><i class=" iconoisend"> <span class="material-icons prefix iconosuscri">local_post_office</span> Suscribete</i>
                    </button>
                  </form>
              </div>
            
          </div>
        </div>
      </div>
      <toaster-container toaster-options="{'time-out': 2000,'limit':1, 'showCloseButton':true}" style="z-index: 0;"></toaster-container>
    </div>
    
  </section>
    <!-- menu redes soc  -->
    <!-- instagram api -->
   <div class="backinsta opacidadneg">
      <div class="container" id="instagramapi" style="padding-top:6%">
      <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/fc22ad4102e7574094044cc1f18c4ca1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
  </div>
   <!-- /instagram api -->
    <section class="padseccuadro redessocpadd row">
        <div class="col s12">
              <div class="row center">
                <div class="box-icon sombrarow white">
                    <a href=""><i class="fab fa-instagram waves-effect cuadrosred"></i></a>
                    <a href="#maps"><i class="fab fa-facebook waves-effect cuadrosred"></i></a>
                    <a href="#acerca"><i class="fab fa-twitter waves-effect cuadrosred"></i></a>
                    <a href="#galeria"><i class="fab fa-linkedin waves-effect cuadrosred"></i></a>
                </div>
              </div>
          </div>
    </section>
    <!-- menu redes soc -->
  <!--  -->


                  <!-- map -->
                  <div id="maps">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.8105146066287!2d-71.60626168588428!3d10.67181126403574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8998c24c3655b9%3A0x135dde1df1416575!2sCodework+Venezuela!5e0!3m2!1ses!2sve!4v1552661039538" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                 
                  <!-- /map -->
                   <!-- galeria -->
                  
 
      <!-- /galeria -->
  
                  <!--  -->
                  <!-- <section class="padseccuadro" style="padding-top:0">
                      <div class="col s12">
                            <div class="row center">
                              <div class="box-icon sombrarow" style="width:90%">
                                <input type="text" class="inputcorreo" placeholder="correo">
                              </div>
                              
                            </div>
                         <div style="position:relative">
                            <button class="btn waves-effect waves-light btnsend" type="submit" name="action">
                                <i class=" iconoisend">Suscribete</i>
                              </button>
                         </div>
                           
                        </div>
                  </section> -->
                        
              

                  <!--  -->
                  <!-- footer -->
                  <div class="footerback valign-wrapper">
                       <p class="letrafoot"> © <span id="demo" class="sepcopy"></span>| Powered by <a href="https://codeworkvenezuela.com/" class="anclacode" target="_blank">CodeworkVenezuela</a> </p>
                  </div>
       

    <!--JavaScript at end of body for optimized loading-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/toaster.min.js"></script>
  <script src="angular-scripts/main.js"></script>
  <script src="angular-scripts/controllers.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
   
   
   <script>  document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
            $('.button-collapse').sideNav('hide');
          });
        
          // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
          // var collapsibleElem = document.querySelector('.collapsible');
          // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
        
          // Or with jQuery
          $( '.collapsible' ).collapsible();
          
        
          $(document).ready(function(){
            $('.sidenav').sidenav();
          });</script>
          
            <script>
            
    
            $(document).ready(function(){
        $('.modal').modal();
      });
           
    
            </script>
             <link href="css/owl.carousel.css" rel="stylesheet">
             <script src="js/owl.carousel.js"></script>
               <script>
                 $(document).ready(function() {
                   $("#owl-demo").owlCarousel({
                     items : 3,
                     lazyLoad : true,
                     autoPlay : false,
                     navigation : false,
                     navigationText :  false,
                     pagination : false,
                   });
                  
                 });
                </script>
                <!-- fecha -->
                <script>
                    var d = new Date();
                    document.getElementById("demo").innerHTML = d.getFullYear();
                    </script>
                    <script src="js/rey.js"></script>
                    
                   

  </body>
</html>